name: build

on:
  push:
    branches: [develop, "feature/**"]
  pull_request:
    branches: [develop, main]

jobs:
  windows-build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgJsonGlob: 'vcpkg.json'
          runVcpkgInstall: true

      - name: Configure CMake
        run: cmake -B build -S . ^
          -DCMAKE_TOOLCHAIN_FILE=${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake ^
          -DVCPKG_TARGET_TRIPLET=x64-windows ^
          -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build --config Release
